body {
    background: linear-gradient(105deg, #000000, #181818);
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    color: white;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

header nav {
    margin-left: 7%;
    margin-right: 7%;
}

header nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-right: 3em;
}

header nav ul li:first-of-type {
    flex-grow: 0.6;
}

header nav ul li img {
    height: 3em;
}

header nav ul li {
    list-style-type: none;
}

header nav ul li a {
    text-decoration: none;
    color: white;
}

header nav ul li a:hover {
    text-decoration: underline;
}

header nav ul li button {
    background: none;
    border-style: none;
    text-decoration: none;
    color: white;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    color: white;
    font-size: 1em;
}

header nav ul li button:hover {
    text-decoration: underline;
}

main {
    margin-left: 20%;
    margin-right: 10%;
}

main div {
    display: flex;
    justify-content: center;
    flex-direction: row;
}

main div .ik1 {
    margin-left: 60%;
    margin-right: 20%;
    margin-top: 8%;
    margin-bottom: 10%;
    height: 40em;
    z-index: 0;
}


/* CSS animatie voor de gele images */

@keyframes sway {
    0% {
        transform: rotate(-3deg);
    }
    50% {
        transform: rotate(3deg);
    }
    100% {
        transform: rotate(-3deg);
    }
}

.ik1 {
    animation: sway 16s ease-in-out infinite;
}

.ik2 {
    animation: sway 16s ease-in-out infinite;
}

.evensneldoen {
    animation: sway 10s ease-in-out infinite;
}


/* Eerst image code */

main section {
    font-weight: 500;
    font-size: 1em;
    line-height: 25px;
}

main .intro {
    position: absolute;
    margin-top: 2%;
    margin-bottom: 10%;
    font-weight: 500;
    z-index: 1;
}

main .intro h1 {
    line-height: 1em;
    font-weight: 800;
    font-size: 100px;
    margin-bottom: 0.5em;
}

main .intro p {
    width: 50%;
    font-weight: 500;
    font-size: 1em;
    line-height: 25px;
}

main div:nth-of-type(2) {
    margin-left: -15%;
}

main div .ik2 {
    margin-top: 5%;
    margin-bottom: 10%;
    margin-right: 5%;
    height: 40em;
    z-index: 0;
}

main h2 {
    line-height: 1em;
    font-weight: 800;
    font-size: 100px;
    margin-bottom: 0.5em;
}

main .aboutme h3 {
    font-weight: 800;
    font-size: 60px;
    margin-bottom: 0.8em;
}

main .aboutme ul {
    display: flex;
    flex-direction: row;
    padding-left: 0;
}

main .aboutme ul li {
    list-style-type: none;
    margin-right: 5em;
}

main .aboutme ul li:first-of-type {
    margin-right: 5%;
}

main .aboutme ul li:nth-of-type(2) {
    margin-right: -11%;
}

main .aboutme ul li img {
    height: 1.2em;
    margin-right: 10px;
}

main .mywork {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: -10%;
    margin-bottom: 4%;
}

main .myworkselection {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: -11%;
    margin-bottom: 10%;
}

main .myworkselection section {
    width: 30em;
}

main .myworkselection section p {
    width: 90%;
    height: 100%;
}

main .myworkselection section img {
    height: 30em;
    margin-left: -8%;
}

main .myworkselection section a {
    color: white;
    font-size: 1.2em;
    font-weight: 600;
}

footer {
    height: 20em;
    background-color: #000000;
}

footer div {
    padding-top: 5%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

footer div img {
    height: 8em;
}

footer section {
    margin-left: 7%;
    margin-right: 7%;
}

footer section:first-of-type {
    margin-bottom: 2%;
}

footer section h5 {
    font-size: 18px;
    text-decoration: underline;
}

footer section ul li {
    list-style-type: none;
    margin-top: 1em;
    padding-left: 0;
}

footer section ul {
    padding-left: 0;
}

footer section ul li img {
    height: 1.2em;
}

footer section:nth-of-type(2) {
    flex-grow: 0.8;
}


/* CSS Vormgeving tweede pagina */

.graphic div .introGRA {
    margin-left: -15%;
    margin-right: 20%;
}

.graphic div .introGRA h1 {
    line-height: 1em;
    font-weight: 800;
    font-size: 100px;
    margin-bottom: 0.5em;
}

.graphic div .introGRA p {
    width: 60%;
}

.graphic main div .evensneldoen {
    position: absolute;
    z-index: 0;
    right: 8%;
    top: 22%;
    height: 35em;
}

.graphic main div:nth-of-type(2) {
    margin-top: 10%;
    margin-bottom: 10%;
}

.graphic main div:nth-of-type(2) .vrmg1 {
    height: 30em;
    padding-right: 5em;
    padding-top: 15%;
    align-self: center;
}

.graphic .Vormgeving1 h2 {
    font-size: 85px;
}

.graphic .vormgeving2 {
    height: 30em;
    margin-right: -15%;
    margin-top: 10%;
    margin-bottom: 10%;
}

.graphic .vrgm2 h2 {
    font-size: 85px;
}

.graphic .vrgm2 {
    width: 60%;
    margin-left: -30%;
    padding-right: 10%;
}

.graphic div:nth-of-type(4) {
    margin-left: -10%;
    margin-bottom: 10%;
    position: relative;
}

.graphic .VIDimg {
    position: absolute;
    left: -3%;
    bottom: 20%;
    height: 30em;
    align-self: center;
}

.graphic .VID {
    width: 50%;
    text-align: right;
    margin-right: -50%;
}

.graphic .VID h2 {
    font-size: 60px;
}

.graphic section h3 {
    font-size: 40px;
}

.graphic section ul {
    padding-left: 0;
}

.graphic section ul li {
    list-style-type: none;
}

.graphic section ul li a {
    font-size: 1em;
    font-weight: 600;
    color: white;
    line-height: 35px;
}